/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Oct, 2018, 3:12:40 PM
    Author     : susmita
*/

.mainFxmlClass {
    -fx-background-image: url('appback5.jpg');
    -fx-background-size: 100%
        100%;
}
